<footer>
  <div class="container">
    <svg class="logo" width="83" height="23">
      <use href="/src/img/icons.svg#icon-logo"></use>
    </svg>
    <p>
      Subscribe to our newsletter for the latest updates on our yoga courses and
      events.
    </p>
    <form>
      <!-- <label for="email">Email</label> -->
      <input
        name="email"
        id="email"
        type="email"
        placeholder="Email"
        required
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
      />
      <button type="submit">Join</button>
    </form>
    <p>
      By subscribing, you consent to our Privacy Policy and agree to receive
      updates.
    </p>
    <p>Quick Links</p>
    <ul>
      <li>
        <a href="#">Yoga Classes</a>
      </li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>
    <p>Connect With Us</p>
    <ul>
      <li>
        <a href="https://www.facebook.com/ " target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://www.instagram.com/  " target="_blank">Instagram</a>
      </li>
      <li><a href="https://www.linkedin.com/ " target="_blank">LinkedIn</a></li>
      <li><a href="https://www.youtube.com/ " target="_blank">YouTube</a></li>
    </ul>
    <p>&#169; 2026 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
