<section class="gallery">
    <div class="container">
        <h2 class="gallery-title">
            Breathe in the Space
        </h2>
                <p class="gallery-text">
                    Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during
                    each session.
                </p>
                            <ul class="gallery-list">
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery1-m.webp" alt="woman meditating in yoga studio" class="gallery-list-item-img">
                                </li>
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery2-m.webp" alt="woman practicing yoga in studio" class="gallery-list-item-img">
                                </li>
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery3-m.webp" alt="yoga class in session at yoga studio" class="gallery-list-item-img">
                                </li>
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery4-m.webp" alt="yoga instructor guiding students" class="gallery-list-item-img">
                                </li>
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery5-m.webp" alt="yoga students in meditation pose at yoga studio" class="gallery-list-item-img">
                                </li>
                                <li class="gallery-list-item">
                                    <img src="../img/Gallery/gallery6-m.webp" alt="yoga students in downward dog pose" class="gallery-list-item-img">
                                </li>
                            </ul>
    </div>
</section>