<section class="section">
    <div class="container">
        <h2 class="gallery-title">
            Breathe in the Space
        </h2>
                <p class="gallery-text">
                    Step inside YogaBloom and feel the calm. Explore our serene studio and the peaceful moments our community shares during
                    each session.
                </p>
                            <ul class="gallery-list">
                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery1.webp 1x, /img/Gallery/gallery1-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery1-t.webp 1x, /img/Gallery/gallery1-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery1-m.webp 1x, /img/Gallery/gallery1-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery1-m.webp" alt="woman meditating in yoga studio" class="gallery-list-item-img">
                                    </picture>
                                </li>

                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery2.webp 1x, /img/Gallery/gallery2-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery2-t.webp 1x, /img/Gallery/gallery2-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery2-m.webp 1x, /img/Gallery/gallery2-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery2-m.webp" alt="woman practicing yoga in studio" class="gallery-list-item-img">
                                    </picture>
                                    
                                </li>

                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery3.webp 1x, /img/Gallery/gallery3-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery3-t.webp 1x, /img/Gallery/gallery3-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery3-m.webp 1x, /img/Gallery/gallery3-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery3-m.webp" alt="yoga class in session at yoga studio" class="gallery-list-item-img">
                                    </picture>
                                    
                                </li>

                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery4.webp 1x, /img/Gallery/gallery4-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery4-t.webp 1x, /img/Gallery/gallery4-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery4-m.webp 1x, /img/Gallery/gallery4-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery4-m.webp" alt="yoga instructor guiding students" class="gallery-list-item-img">
                                    </picture>
                                    
                                </li>

                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery5.webp 1x, /img/Gallery/gallery5-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery5-t.webp 1x, /img/Gallery/gallery5-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery5-m.webp 1x, /img/Gallery/gallery5-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery5-m.webp" alt="yoga students in meditation pose at yoga studio"
                                            class="gallery-list-item-img">
                                    </picture>
                                    
                                </li>

                                <li class="gallery-list-item">
                                    <picture>
                                        <source media="(min-width: 1440px)" srcset="/img/Gallery/gallery6.webp 1x, /img/Gallery/gallery6-@2x.webp 2x">
                                        <source media="(min-width: 768px)" srcset="/img/Gallery/gallery6-t.webp 1x, /img/Gallery/gallery6-t@2x.webp 2x">
                                        <source media="(max-width: 767px)" srcset="/img/Gallery/gallery6-m.webp 1x, /img/Gallery/gallery6-m@2x.webp 2x">
                                        <img src="/img/Gallery/gallery6-m.webp" alt="yoga students in downward dog pose" class="gallery-list-item-img">
                                    </picture>
                                    
                                </li>
                            </ul>
    </div>
</section>