<div class="menu is-open">
    <div class="container menu-container">
        <div class="menu-top">
            <button type="button" class="btn-close" aria-label="Close modal">
                <svg class="icon-close" width="24" height="24">
                    <use href="/img/icons.svg#icon-x-close"></use>
                </svg>
            </button>

            <a href="./index.html" class="logo menu-logo">
                <svg class="icon-logo" width="83" height="23">
                    <use href="/img/icons.svg#icon-logo"></use>
                </svg>
            </a>

            <a href="#pricing" class="menu-button">
                Join Now
            </a>
        </div>

        <nav class="nav-menu">
            <ul class="nav-list-menu">
                <li><a href="#yoga-classes" class="nav-link-menu">Yoga Classes</a></li>
		        <li><a href="#team" class="nav-link-menu">Team</a></li>
		        <li><a href="#testimonials" class="nav-link-menu">Testimonials</a></li>
                <li><a href="#pricing" class="nav-link-menu">Pricing</a></li>
                <li><a href="#contacts" class="nav-link-menu">Contacts</a></li>
            </ul>
        </nav>

        <a href="#pricing" class="menu-button bottom">
            Join Now
        </a>
    </div>
</div>