<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-paragraph">One Session</p>
    <p class="modal-price">&#36;10</p>
    <form class="modal-form">
      <div class="input-wrapper">
        <label class="input-label" for="user-name-basic">Your Name</label>
        <input
          class="input-field"
          type="text"
          name="user-name"
          id="user-name-basic"
          placeholder="Walter Hartwell White"
        />
      </div>
      <div class="form-bottom-wrapper">
        <div class="input-wrapper">
          <label class="input-label" for="email-basic">Email</label>
          <input
            class="input-field"
            type="email"
            name="email"
            id="email-basic"
            placeholder="whwhite@gmail.com"
          />
        </div>
        <div class="input-wrapper">
          <label class="input-label" for="phone-number-basic">Phone number</label>
          <input
            class="input-field"
            type="tel"
            name="phone-number"
            id="phone-number-basic"
            required
            placeholder="+380 790326971"
          />
        </div>
      </div>
      <button class="modal-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal-mid="">
  <div class="modal">
    <button type="button" class="close-btn" data-modal-mid-close>
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-paragraph">8 Sessions Package</p>
    <p class="modal-price">&#36;65</p>
    <form class="modal-form">
      <div class="input-wrapper">
        <label class="input-label" for="user-name-mid">Your Name</label>
        <input
          class="input-field"
          type="text"
          name="user-name"
          id="user-name-mid"
          placeholder="Walter Hartwell White"
        />
      </div>
      <div class="form-bottom-wrapper">
        <div class="input-wrapper">
          <label class="input-label" for="email-mid">Email</label>
          <input
            class="input-field"
            type="email"
            name="email"
            id="email-mid"
            placeholder="whwhite@gmail.com"
          />
        </div>
        <div class="input-wrapper">
          <label class="input-label" for="phone-number-mid">Phone number</label>
          <input
            class="input-field"
            type="tel"
            name="phone-number"
            id="phone-number-mid"
            required
            placeholder="+380 790326971"
          />
        </div>
      </div>
      <button class="modal-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal-top>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-top-close>
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-paragraph">12 Sessions Package</p>
    <p class="modal-price">&#36;80</p>
    <form class="modal-form">
      <div class="input-wrapper">
        <label class="input-label" for="user-name-top">Your Name</label>
        <input
          class="input-field"
          type="text"
          name="user-name"
          id="user-name-top"
          placeholder="Walter Hartwell White"
        />
      </div>
      <div class="form-bottom-wrapper">
        <div class="input-wrapper">
          <label class="input-label" for="email-top">Email</label>
          <input
            class="input-field"
            type="email"
            name="email"
            id="email-top"
            placeholder="whwhite@gmail.com"
          />
        </div>
        <div class="input-wrapper">
          <label class="input-label" for="phone-number-top">Phone number</label>
          <input
            class="input-field"
            type="tel"
            name="phone-number"
            id="phone-number-top"
            required
            placeholder="+380 790326971"
          />
        </div>
      </div>
      <button class="modal-btn" type="submit">Go to checkout</button>
    </form>
  </div>
</div>
