<!-- #region testimonials -->
<section class="testimonials section">
  <div class="container">
      <h2 class="testimonials-title">Testimonials</h2>
      <p class="testimonials-title-description">What our happy clients say</p>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <div class="testimonials-item-container">
          <p class="testimonials-customer-feedback">
            YogaBloom is a true sanctuary for the mind and body. The classes are
            thoughtfully guided, the atmosphere is calming, and every session
            leaves me feeling more centered, flexible, and recharged. Highly
            recommended for anyone seeking balance and inner peace.
          </p>
          <div class="testimonials-author-profile-container">
            <img
              srcset="
                /img/Testimonials/donna-norman.webp    1x,
                /img/Testimonials/donna-norman@2x.webp 2x
              "
              src="/img/Testimonials/donna-norman.webp"
              alt="Photo of Donna Norman"
              width="56"
              height="56"
              class="testimonials-author-profile-avatar"
            />
            <h3 class="testimonials-author-profile-name">Donna Norman</h3>
            <p class="testimonials-author-profile-role">Yoga Enthusiast</p>
          </div>
        </div>
      </li>
      <li>
        <div>
          <p></p>
          <div>
            <img src="" alt="" />
            <h3></h3>
            <p></p>
          </div>
        </div>
      </li>
      <li>
        <div>
          <p></p>
          <div>
            <img src="" alt="" />
            <h3></h3>
            <p></p>
          </div>
        </div>
      </li>
      <li>
        <div>
          <p></p>
          <div>
            <img src="" alt="" />
            <h3></h3>
            <p></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion testimonials -->
