<section class="programs-section" id="yoga-classes">
  <div class="programs-section-container container">
    <p class="title-label">Explore</p>
    <h2 class="title-programs-section">
      Discover Our Most Popular Yoga Programs
    </h2>
    <p class="program-title-pitch">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>

    <ul class="programs-list">
      <li class="program">
        <picture class="program-pic">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/Layout/beginner-yoga.webp     1x,
              /img/Layout/beginner-yoga-@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/Layout/beginner-yoga-t.webp    1x,
              /img/Layout/beginner-yoga-t@2x.webp 2x
            "
          />
          <img
            class="program-img"
            srcset="
              /img/Layout/beginner-yoga-m.webp    1x,
              /img/Layout/beginner-yoga-m@2x.webp 2x
            "
            src="/img/Layout/beginner-yoga-m.webp"
            alt="Beginner Yoga"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="program-title">Beginner Yoga Foundations</h3>
        <p class="program-description">
          Learn the basics of yoga with our foundational course designed for
          newcomers to the practice.
        </p>
      </li>
      <li class="program">
        <picture class="program-pic">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/Layout/vinyasa-flow.webp     1x,
              /img/Layout/vinyasa-flow-@2x.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/Layout/vinyasa-flow-t.webp    1x,
              /img/Layout/vinyasa-flow-t@2x.webp 2x
            "
          />

          <img
            class="program-img"
            srcset="
              /img/Layout/vinyasa-flow-m.webp    1x,
              /img/Layout/vinyasa-flow-m@2x.webp 2x
            "
            src="/img/Layout/vinyasa-flow-m.webp"
            alt="Vinyasa Flow Yoga"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="program-title">Vinyasa Flow: Energize Your Body and Mind</h3>
        <p class="program-description">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>

      <li class="program">
        <picture class="program-pic">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/Layout/restorative-yoga.webp     1x,
              /img/Layout/restorative-yoga-@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/Layout/restorative-yoga-t.webp    1x,
              /img/Layout/restorative-yoga-t@2x.webp 2x
            "
          />
          <img
            class="program-img restorative-yoga-img"
            srcset="
              /img/Layout/restorative-yoga-m.webp    1x,
              /img/Layout/restorative-yoga-m@2x.webp 2x
            "
            src="/img/Layout/restorative-yoga-m.webp"
            alt="Restorative Yoga"
            width="343"
            height="198"
          />
        </picture>
        <h3 class="program-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="program-description">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a href="#pricing" class="join-button">Join now</a>
  </div>
</section>
