.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
    padding: 0 64px;
  }
}
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1336px) {
  .section {
    padding: 112px 0;
  }
}
