.gallery {
        padding-top: 64px;
        padding-bottom: 64px;
}

.container {

}

.gallery-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
        font-size: 40px;
    
        /* line-height: 48px; */
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        color: #0d0b0a;
        margin-bottom: 20px;
}

.gallery-text {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
        font-size: 18px;
    
        /* line-height: 29px; */
        line-height: 1.6;
        text-align: center;
        color: #0d0b0a;
        margin-bottom: 48px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px 24px;
}

.gallery-list-item {
        width: calc((100% - 24px) / 2);
}

.gallery-list-item-img {

}