.header-section {
    background-color: #f2fafa;
    padding: 15px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 72px;
}

.header-nav {
    display: none;
}

.btn-menu {
    flex: 0 0 auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-menu:hover {
    transform: scale(1.05);
}

.header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-button {
    color: #0d0b0a;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 4px 20px;

    border: 1px solid #c2d9fc;
    border-radius: 100px;
    background-color: #c2d9fc;

    flex: 0 0 auto;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover,
.header-button:focus {
    opacity: 0.5;
}

@media screen and (min-width: 1336px) {
    .header-nav {
        display: block;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 32px;
        list-style: none;
        font-size: 16px;
    }

    .nav-link {
        display: inline-flex;
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #0d0b0a;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        opacity: 0.5;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 0;
        height: 2px;
        background-color: #0D0B0A;
        opacity: 0.5;
        border-radius: 2px;

        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .nav-link.current::after {
        width: 100%;
    }

    .btn-menu {
        display: none;
    }
}