/* Team Section Styles */

.section-team-title {
    width: 100%;
    margin-bottom: 48px;
    padding-left: 17px;
    padding-right: 17px;
}

.text-meet {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.team-title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}

.team-text,
.team-item-text {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.team-item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.team-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.team-menu-item {
    width: 343px;
}

.team-image {
    border-radius: 16px;
    width: 100%;
    height: auto;
    display: block;
    border: none;
    box-shadow: none;
}

.team-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 343px;
}

.team-wrapper-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.team-item-info {
    width: 343px;
    display: flex;
    flex-direction: column;
}

.team-item-text {
    margin-bottom: 12px;
}

.icons-social-link-list {
    display: flex;
    column-gap: 14px;
    justify-content: center;
}

.icon-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .team-container {
        padding: 0 32px;
    }
    .section-team-title {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .title {
        margin-bottom: 16px;
    }

    .team-title {
        margin-bottom: 24px;
    }

   .team-menu-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 24px;
        align-items: center;
    }

   .team-menu-item {
        width: calc((100% - 24px) / 2);
        display: block;
        align-items: center;
    }

    .team-wrapper-info {
        margin: 24px 0;
    }

    .team-item-text {
        margin-bottom: 16px;
    }
    
    .team-item-info {
        width: 340px;             
    }
}


@media screen and (min-width: 1336px) {
    .team-container {
        padding: 0 64px;
    }
        
    .team-menu-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        align-items: center;
    }
    
    .team-menu-item {
        width: calc((100% - 48px) / 3);
    }
        
    .team-item-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}